
footer(class="fixed-bottom")
    div(class="copyright") 
        p &copy 2020 - Neodoli
  
    div(class="social")
        a(href="#" class="support") Contact Us
        a(href="#" class="face") f
        a(href="#" class="tweet") t
        a(href="#" class="linked") in
