doctype html
html
    head
        include ./header
        style 
            include ../../public/stylesheets/footer.css

    body
        include ./nav

        block content


        br
        br
        br
        br
        include ./footer