nav(class="navbar navbar-default navbar-static-top navbar-light")
    div(class="container")
        ul(class="nav navbar-nav")
            a(class="navbar-brand") Neodoli
            li(class="active")
                a(href="/") Home

        ul(class="nav navbar-nav navbar-right")
    
            li(class="navbar-right")
               a(href="/logout") log out

            li(class="navbar-right")
               a(class="primary" style="color: #e3f2fd;") Hello, user.email
      
