nav(class="navbar navbar-default navbar-static-top navbar-light")
    div(class="container")
        
        ul(class="nav navbar-nav")
            a(class="navbar-brand" href="/") Neodoli
           

        ul(class="nav navbar-nav navbar-right")
            li(class="navbar-right active")
                a(href="/login") Log In
    
        