doctype html
html
    head
        include ../partials/header
        
    body
        h3 Dados da Farmácia
        p Nome: #{response.pharmacy}
        p Endereço: #{response.address}
        P Total a Pagar: #{response.totalAmount}