doctype html
html
    head
        include ../partials/header
        
    body
        h4=data
        h3 Dados da Farmácia
        p Nome: #{data.pharmacy}
        p Endereço: #{data.address}
        P Total a Pagar: #{data.totalAmount}

        p(class="caption") Inserir informação de disponibilidade dos medicamentos
        a(class="btn btn-primary") Adicionar-

        button.btn.btn-primary(type='button' data-toggle='modal' data-target='#staticBackdrop')

        include ../partials/add-medicines-modal
      
    