doctype html
html
    head
        include ../partials/header
        
    body
        h1 this is the dasboard

        table(class="table")

            thead
                tr
                    th name
                    th address
                    th contact
                    th Photo
                    th Acção
            tbody
                tr
                    th Receita 1
                    td Macurungo rua 1810, Beira
                    td 842519199
                    td
                        img(src="/node.svg")
                    td 
                        button( class="btn btn-primary") Responder

                tr
                    th Receita 1
                    td Macurungo rua 1810, Beira
                    td 842519199
                    td
                        img(src="/node.svg")
                    td 
                        button( class="btn btn-primary") Responder
                    