doctype html
html
    head
        include ../partials/header
        
    body( class="container")
        br
        br
        h3 Lista de pedidos
        br
        table(class="table table-striped")

            thead
                tr
                    th name
                    th address
                    th contact
                    th Photo
                    th Acção
            tbody
                tr
                    th Receita 1
                    td Macurungo rua 1810, Beira
                    td 842519199
                    td
                        img(src="/node.svg")
                    td 
                        button( class="btn btn-primary" width="40" height="40") Detalhes

                tr
                    th Receita 1
                    td Macurungo rua 1810, Beira
                    td 842519199
                    td
                        img(src="/node.svg")
                    td 
                        button( class="btn btn-primary") Detalhes
                    