
html
  head
    include ../partials/header.pug
  body
    p start page
    a(href="#") link
    
    form(action="#", method="post")
      div(class="form-group")
        label(for="textName") Nome da Farmacia
        input(type="text", placeholder="This is text" name="textName" id="textName")
     
      input(type="submit", name="send", value="Submit", class="btn btn-primary")