extends ../partials/layout-not-signed

block content
   
        br
        br
        br
        br

        .container
            div(class="row")
                div(class=" col col-lg-3")
                    p .
                div(class=" col col-lg-6")col-6
                    p(class="text-danger") message#{message}

                    form(action="/login", method="post")
            
                        div(class="form-group")
                            label(for="textName") Nome do user
                            input(type="text", placeholder="Ex: Neodoli" name="username" id="textName" class=" form-control")
                    
                        div(class="form-group")
                            label(for="textName") Senha
                            input(type="password",  name="password" id="textName" class=" form-control")
                        
                        input(type="submit", name="send", value="Entrar", class="btn btn-primary")
                div(class=" col col-lg-3")
                    p .
           
        br
        br
        br
        br
        br
        br
        br
        br
        br