extends ../partials/layout

block content
       
    div(class="container")
        div(class="row")
            div(class="col-8")
                 img(src=""+request.photoUrl)
            div(class="col-4")
                h3 Detalhes da requisição
                ul
                    li=request.name
                    li=request.address
                    li=request.contact
                a(class=" btn btn-primary" href="/dashboard/"+request.id+"/response") Ver respostas
            
               
        
       
