doctype html
html
    head
        include ../partials/header
        
    body(class="container")
        h3 Detalhes da requisição
        ul
            li=request.name
            li=request.address
            li=request.contact
            li
                img(src=""+request.photoUrl)
        
        a(class=" btn btn-primary" href="/dashboard/"+request.id+"/response") Responder
