doctype html
html
    head
        include ../partials/header
        
    body
        h1 this is the request details
        ul
            li=request.name
            li=request.address
            li=request.contact
            li=request.photoUrl
        
        a(class=" btn btn-primary" href="#") Responder
