extends ../partials/layout

block content
    div(class="container")
        br
        br
        h3 Lista de respostas
        br
        
        a(class="btn btn-primary" href="/dashboard/"+prescriptionId+"/add") Adicionar resposta
        a(class="btn btn-primary" href="/") Terminar Pedido
        br
        br
        table(class="table")
            thead
                tr 
                    th Farmácias
                    th Endereço
                    th Total a pagar
                    th Acção
            tbody
                if responses
                    each response, index in responses
                        tr
                            td=response.pharmacy
                            td=response.address
                            td=response.totalAmount
                            td                                 
                                a(class="btn btn-primary" href="/dashboard/"+response.prescriptionId+"/response/"+response.id) Detalhes
                                a(class="btn btn-primary" href="/dashboard/"+response.prescriptionId+"/response/"+response.id+"/delete") Apagar

                else if responses.lenght==0
                    p Nenhum dado encontrado