doctype html
html
    head
        include ../partials/header
    
    body(class="container")
        br
        br
        h3 Lista de respostas
        br
        
        a(class="btn btn-primary" href="#") Adicionar resposta
        br
        table(class="table")
            thead
                tr 
                    th Farmácias
                    th Endereço
                    th Total a pagar
                    th Acção
            tbody
                if responses
                    each response, index in responses
                        tr
                            td=response.pharmacy
                            td=response.address
                            td= response.totalAmount
                            td 
                                a(class="btn btn-primary") Detalhes
                                a(class="btn btn-primary") Apagar

                else if responses.lenght==0
                    p Nenhum dado encontrado